*\.o
*\.lo
*\.la
/.deps/
/.libs/
/autom4te.cache/
/aclocal.m4
/install-sh
/missing
/configure
/depcomp
/libtool
/Makefile.in
/config.h
/stamp-h1
/ltmain.sh
/compile
/Makefile
/config.h.in
/config.guess
/config.log
/config.status
/config.sub
/geoclue-to-owntracks
